$black: #000000;
$white: #ffffff;
$background-color: #5e63ba;
$button-header: #5108d8;
$button-header-hover: #1a0239;
$button-disable: #77747c;
$button-shadow: rgba(0, 0, 0, 0.2);
$track: #130327;
$background-color-table: #c6b7f2;
