@import '../../../styles/vars.scss';

.container_chat-page {
  display: flex;
  flex-direction: column;
  height: 90vh;
  padding: 10px;
  background: $transparent-background;
  border-radius: 10px;
}

.chat__content {
  position: relative;
  height: 83%;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  width: 65%;
  border: 2px solid black;
  height: 100%;
}
