$black: #000000;
$white: #ffffff;
$background-color: #5e63ba;
$button-color: #229c98;
$button-color-hover: #174945;
$button-disable: #77747c;
$button-shadow: rgba(0, 0, 0, 0.2);
$track: #130327;
$background-color-table: #c6b7f2;
$transparent-background: rgba(255, 255, 255, 0.5);
$user-status-active: green;
$user-status-inactive: red;
$message-color: #9de9e6;
$message-text: #cef7f5;
