.sources {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  overflow: auto;
  align-items: center;
  font: 300 1em 'Fira Sans', sans-serif;
}

.source__item {
  background: none;
  border: 2px solid #30c5ff;
  font-size: 1rem;
  line-height: 1;
  margin: 0.5rem;
  padding: 1rem 2rem;
  color: #70d6ff;
  transition: 0.25s;
  cursor: pointer;
}

@media (max-width: 768px) {
  .source__item {
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 520px) {
  .source__item {
    padding: 0.4rem;
    margin: 0.3rem;
    font-size: 0.5rem;
  }
}

.source__item:hover,
.source__item:focus {
  border-color: #3fcc59;
  color: #69db7e;
  box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
  transform: translateY(-0.25em);
}

.source__item-name {
  font-weight: 400;
  white-space: nowrap;
}
