@import '../../../styles/vars.scss';

.chat-users {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 35%;
  height: 100%;
  padding: 10px;
}

.users-list {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: auto;
}

.user-status {
  border: 1px solid;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-right: 5px;
}

.active {
  background: $user-status-active;
}

.inactive {
  background: $user-status-inactive;
}

.user-row {
  display: flex;
  align-items: center;
  padding: 2px 0 2px 5px;
  border-radius: 5px;
}

.user__for-message {
  background-color: $button-color;
}
