@import './styles/vars.scss';

@font-face {
  font-family: DINP-R;
  src:
    url('./assets/fonts/DINPro-Regular.eot?') format('eot'),
    url('./assets/fonts/DINPro-Regular.woff') format('woff'),
    url('./assets/fonts/DINPro-Regular.ttf') format('truetype');
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  display: block;
  border: none;
  outline: none;
  position: relative;
  width: 100%;
  padding: 7px;
  box-shadow:0 0 15px 4px $button-shadow;
  border-radius:10px;
}

input::placeholder {
  color: $button-disable;
  opacity: 0.4;
}

input:focus {
  border-color: $button-disable;
  box-shadow: 0 0 15px 4px $button-color-hover;
}

body {
  font-family: 'DINP-R', sans-serif;
  font-weight: 600;
  background-image: url(./assets/images/content/background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

button {
  width: auto;
  font-family: 'DINP-R', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  padding: 4px 8px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: $button-color;
  box-shadow: 0 4px 8px $button-shadow;
  transition:
    background-color 0.4s ease,
    box-shadow 0.4s ease;
  transition: all 0.4s;
}

button:hover {
  background-color: $button-color-hover;
  transition: all 0.4s;
}

button:active {
  box-shadow: none;
  transition: all 0.4s;
}

button:disabled {
  background-color: $button-disable;
}
