.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.wrapper_word {
  background-color: #ffffff;
  border: 1px solid #000000;
  cursor: pointer;
  text-align: center;
  padding: 6px;
}
