*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  /* font-size: calc(1.11vw); */
}

body {
  background-color: #E1D4C9;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  font-family: 'Inter', sans-serif;
  color: #403F3D;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.4s;
}

button {
  transition: all 0.4s;
  outline: none;
  border: none;
  cursor: pointer;
}

ul,
ol,
li {
  list-style: none;
}

.container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 15px 40px 40px;
}

@media (max-width: 680px) {
  .container {
    padding: 16px 16px 40px;
  }
}

.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 26px;
}

@media (max-width: 680px) {
  .header {
    margin-bottom: 24px;
  }
}

.header__logo {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 31px;
  /* pointer-events: none; */
}

.header__logo-image {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.ellipse {
  position: absolute;
  top: 11px;
}

.resource {
  position: absolute;
  top: 16px;
}

h1 {
  font-size: 0.5rem;
  letter-spacing: 0.0313rem;
  text-transform: uppercase;
  text-align: center;
}

.header__box {
  display: flex;
  gap: 366px;
}

@media (max-width: 1200px) {
  .header__box {
    gap: 180px;
  }
}

@media (max-width: 960px) {
  .header__box {
    gap: 40px;
  }
}

.nav {}

.nav__list {
  display: flex;
  gap: 41px;
}

.nav__item {}

.nav__link {
  position: relative;
}

.nav__link::after {
  content: '';
  position: absolute;
  display: block;
  left: 50%;
  height: 2px;
  bottom: -4px;
  background: #403F3D;
  transform: translateX(-50%);
  width: 0;
  transition: all 0.4s;
}

.header__menu-link::after {
  content: '';
  position: absolute;
  display: block;
  left: 50%;
  height: 2px;
  bottom: -4px;
  background: #403F3D;
  transform: translateX(-50%);
  width: 100%;
}

@media(hover: hover) {

  .nav__link:hover::after {
    width: 100%;
  }
}

.header__menu {
  display: flex;
}

.header__menu-link {
  position: relative;
  display: flex;
  gap: 8px;
  align-items: start;
  pointer-events: none;
}

@media (max-width: 768px) {
  .header__box {
    display: none;
    position: absolute;
    flex-direction: column;
    right: 0;
    top: 100px;
    z-index: 2;
    width: 100%;
    height: 100vh;
    padding: 60px 40px;
    gap: 100px;
    background-color: #E1D4C9;
    align-items: center;
    transform: translateX(768px);
    transition: transform 1.0s;
  }

  .header__box-open {
    transform: translateX(0);
    transition: transform 1.0s;
  }

  .nav__list {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }

  .nav__item {
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
  }

  .header__menu {
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
  }

  .header__menu-link img {
    width: 40px;
    height: 40px;
  }
}

/* ******************************************* header hamburger */

.header__hamburger {
  position: relative;
  display: none;

}

@media (max-width: 768px) {
  .header__hamburger {
    display: block;
  }
}

.hamburger {
  width: 44px;
  height: 44px;
  border: 1px solid #403F3D;
  border-radius: 100%;
}

.hamburger__line::before {
  content: '';
  position: absolute;
  display: block;
  height: 2px;
  width: 17px;
  align-items: center;
  background-color: #403F3D;
  top: calc(50% - 5px);
  left: 13px;
}

.hamburger__line::after {
  content: '';
  position: absolute;
  display: block;
  height: 2px;
  width: 17px;
  align-items: center;
  background-color: #403F3D;
  top: calc(50% + 5px);
  left: 13px;
}


/************************************************** section menu */

.menu__wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  margin-bottom: 100px;
}

.menu__title {
  max-width: 800px;
  color: #403F3D;
  text-align: center;
  font-size: 60px;
  line-height: 125%;
}

.menu__title span {
  color: #B0907A;
  font-style: italic;
}

@media (max-width: 680px) {
  .menu__title {
    font-size: 32px;
  }
}

.menu__tabs {
  display: flex;
  gap: 16px;
}

@media (max-width: 680px) {
  .menu__tabs {
    gap: 7px;
  }
}

.menu__tabs-item {
  display: flex;
  padding: 7px 16px 7px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid #C1B6AD;
  cursor: pointer;
  transition: all 0.4s;
}

.active {
  background-color: #665F55;
  pointer-events: none;
}

.menu__tabs-item-icon {
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #C1B6AD;
  transition: all 0.4s;
}

.menu__tabs-item-text {
  transition: all 0.4s;
}

.menu__tabs-item.active .menu__tabs-item-text {
  color: #E1D4C9;
}

.menu__tabs-item.active .menu__tabs-item-icon {
  background-color: #E1D4C9;
}

@media(hover: hover) {

  .menu__tabs-item:hover {
    background-color: #665F55;
    transition: all 0.4s;
  }

  .menu__tabs-item:hover .menu__tabs-item-icon {
    color: #E1D4C9;
    transition: all 0.4s;
  }

  .menu__tabs-item:hover .menu__tabs-item-text {
    color: #E1D4C9;
    transition: all 0.4s;
  }
}


/* ****************************** menu-cards */

.menu__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.menu__card {
  max-width: 310px;
  border: 1px solid #C1B6AD;
  border-radius: 40px;
  height: 506px;
}

.menu__card-refresh {
  display: none;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid #665F55;
}

@media (max-width: 1430px) {
  .menu__cards {
    justify-content: center;
  }

  #card-coffee-07,
  #card-coffee-08 {
    display: none;
  }
}

@media (max-width: 768px) {

  #card-coffee-05,
  #card-coffee-06 {
    display: none;
  }

  .menu__card-refresh {
    display: flex;
  }
}

.menu__card-image {
  display: flex;
  overflow: hidden;
  border-radius: 40px;
  align-items: center;
  transition: all 0.4s;
}

.menu__card-image img {
  width: 100%;
  scale: 1.1;
  transition: all 0.4s;
}

@media(hover: hover) {
  .menu__card:hover img {
    scale: 1;
    transition: all 0.4s;
  }
}

.menu__card-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
  height: 196px;
}

.menu__card-title {
  font-size: 24px;
  line-height: 125%;
}

.menu__card-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  flex: 1 1 auto;
}

.menu__card-price {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}


/************************************* footer */

.footer__container {
  display: flex;
  padding: 100px;
  justify-content: space-between;
  gap: 100px;
  border-radius: 40px;
  background: #665F55;
}

.footer__description {
  max-width: 530px;
}

@media (max-width: 1220px) {
  .footer__container {
    padding: 100px 60px 105px;
    gap: 50px;
  }
}

@media (max-width: 1060px) {
  .footer__container {
    flex-wrap: wrap;
    gap: 106px;
  }

  .footer__description {
    max-width: 568px;
  }
}

@media (max-width: 680px) {
  .footer__container {
    padding: 60px 16px;
    gap: 46px;
  }
}

.footer__title {
  color: #E1D4C9;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 40px;
}

.footer__title span {
  color: #B0907A;
  font-style: italic;
}

@media (max-width: 720px) {
  .footer__title {
    font-size: 32px;
  }
}

.footer__socials {
  display: flex;
  gap: 12px;
}

.footer__socials-link {}

.footer__socials-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 1px solid #C1B6AD;
  transition: all 0.4s;
}

.footer__socials-icon {
  stroke: #E1D4C9;
  transition: all 0.4s;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 47px;
  flex: 1 0 0;
  color: #E1D4C9;
  font-weight: 600;
  line-height: 125%;
  white-space: nowrap;
}

@media (max-width: 680px) {
  .footer__contacts {
    padding-bottom: 5px;
  }
}

.footer__contacts-title {
  font-size: 24px;
}

.footer__contacts-links {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.footer__contacts__link {
  width: fit-content;
}

.footer__contacts__link::after {
  content: '';
  position: relative;
  display: block;
  left: 50%;
  height: 2px;
  bottom: -4px;
  background: #E1D4C9;
  transform: translateX(-50%);
  width: 0px;
  transition: all 0.4s;
}

.footer__contacts-wrapper {
  display: flex;
  gap: 8px;
  width: 100%;
}

.footer__contacts-icon {}

.footer__contacts-description {
  font-size: 16px;
}

@media(hover: hover) {
  .footer__socials-link:hover .footer__socials-wrapper {
    background-color: #E1D4C9;
    border: 1px solid #E1D4C9;
    transition: all 0.4s;
  }

  .footer__socials-link:hover .footer__socials-icon {
    stroke: #665F55;
    transition: all 0.4s;
  }

  .footer__contacts__link:hover::after {
    width: 100%;
  }
}